[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "CKR Engine/Vendor/spdlog"]
	path = CKR Engine/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CKR Engine/Vendor/glfw"]
	path = CKR Engine/Vendor/glfw
	url = https://github.com/TheCherno/GLFW
[submodule "CKR Engine/Vendor/imgui"]
	path = CKR Engine/Vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "CKR Engine/Vendor/Glm"]
	path = CKR Engine/Vendor/Glm
	url = https://github.com/g-truc/glm
[submodule "CKR Engine/Vendor/yaml"]
	path = CKR Engine/Vendor/yaml
	url = https://github.com/ChongKangRui/yaml-cpp.git
[submodule "CKR Engine/Vendor/ImGuizmo"]
	path = CKR Engine/Vendor/ImGuizmo
	url = https://github.com/ChongKangRui/ImGuizmo.git
